@font-face{
    font-family:"BungeeShade-Regular";
    src:url("BungeeShade-Regular.ttf");
}

@font-face{
    font-family: BungeeOutline-Regular;
    src:url("BungeeOutline-Regular.ttf")
}

:root{
    --padding_10:10px;
    --heading:5vw;
    --sub_heading: calc(0.7* var(--heading));
    --nav_text: calc(0.4*var(--heading));
    --bigger_text: calc(0.3*var(--heading));
    --text: calc(0.25*var(--heading));
}

body{
    margin: 0;
    background-image: url("images/background_desktop.jpg");
    background-position:center;
    background-size: cover;
    background-attachment: fixed;

    color:rgb(203, 203, 203);
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--text);
}

/*Svart bakgrund*/ 
body > div{
    background-color: rgb(0, 0, 0,0.5);
    border-radius: 15px;
    margin: 70px 50px;
    padding:20px 20px 70px 20px;

    position: relative;
}

/*Header*/ 
header h1{
    font-size: var(--heading);
    font-family: BungeeShade-Regular;
    margin-top: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    gap:10px;

    color: black;
}

nav div{
    background-color: rgb(245, 245, 245,0.5);
    padding: 2vw;
    border-radius: 10px;

    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--nav_text);

    display: flex;
    justify-content: center;
    align-items: center;
}

nav div:hover{
    background-color: rgb(0, 0, 0,0.5);
    color: white;
}

.marked{
    border: 1px solid white;
    box-shadow: 1px 1px 8px whitesmoke;
    font-weight: bold;
}
.marked:hover{
    background-color: rgb(245, 245, 245,0.5);
    color: black;
}

/*Article - for both*/ 
article{
    margin-top:50px;
    padding:20px;

    background-color: rgb(0, 0, 0, 0.5);
    border: 2px solid rgb(255, 255, 255,0.5);
    border-radius: 10px;
    font-size: var(--text);

    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 50% 25% 25%;
    gap:10px;
}

.album_data{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.album_data h1{
    font-family:BungeeOutline-Regular;
    font-size: var(--sub_heading);
    letter-spacing: 2px;
    margin: 0;
    margin-top: -5vh;
}

.album_data h2{
    margin-top: -3vh;
}

/*Icon*/ 
#axis_bold_as_love .album_data{
    position: relative;
}
#axis_bold_as_love .album_data::before{
    content: '';
    background-image: url("../../media/media/number-1-icon.png");
    background-size: 6vh 6vh;
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    top:-40px;
    left: -40px;
    height: 100px;
    width: 100px;
}

/*Cover Images*/ 
.cover{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FCFBFF;
    border-radius: 15px 15px 0 0;
}

.cover img{
    width:100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
    
    border-radius: 15px 15px 0 0;

    position: absolute;
    top:0;

    transition-property: opacity;
    transition-duration: 1s;
}

.cover:hover .show_not_hover{
  opacity: 0;
}

/*Song lists*/ 
.song_list{
    grid-column: 2;
    grid-row: 2;

    display: flex;
    gap: 1vw;
    justify-content: space-between;
}

.song_list > div{
    flex-basis: 0;
    flex-grow: 1;
    padding: 15px;
    flex-grow: 1;
}

.song_list h2{
    font-size: var(--bigger_text);
    margin: 0;
    padding-bottom: 4px;
}

.song_list ul{
    padding-left: 15px;
    list-style-type: decimal;
    margin: 0;
}

#are_you_experienced .song_list div{
    background-color:#F4796A;
    color: #F6B29B;
}
#axis_bold_as_love .song_list div{
    background-color: #C5653D;
    color:#EBE3D0;
}

article .song_list div:nth-child(1){
    border-radius: 0 0 0 15px;
}
article .song_list div:nth-child(2){
    border-radius: 0 0 15px 0;
}

/*Grid*/ 
.anecdotes{
    grid-column: 1/span 2;
    grid-row: 3;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap:1vw;

    width: 100%;
    padding: 0;
    list-style: none;
    margin: 0;
}
.anecdotes li{
    padding: 6vh 3vh;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#are_you_experienced .anecdotes > li{
    background-color: #F6B29B;
    color: #F4796A;
}

#axis_bold_as_love .anecdotes > li{
    background-color: #EBE3D0;
    color: #C5653D;
}

/*Grid:1 - First box*/ 
.top_right_90{
    border-radius: 15px 0 15px 15px;
}

/*Empty Boxes*/ 
.anecdotes .empty {
    display: none;
}

/*Grid:1 & 2 - Dubble box*/ 
.two_wide {
    grid-column: span 2;
    border-radius: 15px 15px 15px 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*Grid:1 - Dubble box*/ 
#are_you_experienced .two_wide{
    grid-column: 3/span 2;
}

/*Grid:1 - Luke image*/ 
#are_you_experienced .anecdotes .image_1{
    background-image: url("images/luke_hemmings.jpg");
    background-position: center;
    background-size: cover;
    padding-bottom: 1vh;
    color: white;
    text-shadow: 1px 1px 5px #302f2f;

    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    grid-column: 5;
}

/*Grid:1 & 2 - Furthest righ box*/ 
.bottom_right_90{
    grid-column: 6;
    border-radius: 15px 15px 0 15px;
}

/*Grid:2 - Second box (& Luke image)*/ 
.top_left_90{
    border-radius: 0 10px 10px 10px;
}

/*Grid:2 - Image box*/ 
#axis_bold_as_love .anecdotes .image_1{
    background-image: url("images/studio.jpg");
    grid-column: 4/span 2;
    align-items: flex-end;

    color: white;
    text-shadow: 1px 1px 5px #302f2f;
    padding-bottom: 1vh;
}

/*Footer*/ 
footer{
    position: absolute;
    bottom: 20px;
}

@media (min-width: 1111px){
    header h1{  
    font-size: 55px; 
    }
    nav div{
    font-size: 22px;
    }
    .song_list, .album_data, .anecdotes{
    font-size: 14px;
    }
    .song_list h2{
    font-size: 16px;
    }
    .album_data h1{
    font-size: 39px;
    }
    .album_data h2{
    font-size: 21px;
    }
}

@media (max-width: 900px){
    header h1{  
        font-size: 45px;
        }
        nav div{
        font-size: 18px;
        }
        .song_list, .album_data, .anecdotes{
        font-size: 11px;
        }
        .song_list h2{
        font-size: 13px;
        }
        .album_data h1{
        font-size: 31px;
        }
        .album_data h2{
        font-size: 17px;
        }
}

@media (max-width: 800px){
    body{
        background-image: url("images/tablet/background_tablet.jpg");
    }
    header h1{
        text-align: center;
        font-size: calc(1.3*var(--heading));  
        margin-bottom: 4vh;  
        line-height: 15vh;
    }

    nav div{
        font-size: calc(1.2*var(--nav_text));
        padding: 2vh 1vw;
    }    

    .cover{
        grid-column: 1;
        grid-row: 1;
        border-radius: 15px 0 0 15px;
    }

    .cover img{
        border-radius: 15px 0 0 15px;
        object-fit: cover;
    }
    
    .cover:hover .show_not_hover{
        opacity: 100;
    }

    .show_hover{
        display: none;
    }

    .song_list{
        grid-row: 1;
        flex-direction: column;
        font-size: calc(1.4*var(--text));
    }

    .song_list h2{
        font-size: var(--sub_heading);
    }

    .song_list ul{
        padding-left: 7px;
    }

    article .song_list div:nth-child(1){
        border-radius: 0 15px 0 0;
    }
   
    .album_data{
        grid-row: 2;
        grid-column: 1/span 2;
        font-size: calc(1.4*var(--text));
    }

    .album_data h1{
        margin: 0;
        margin-top:-5vh;
        font-size: var(--heading);
    }
    
    .album_data h2{
        margin-top: -5vh;
        font-size: var(--sub_heading);
    }

    #axis_bold_as_love .album_data::before{
        top:-10px;
        left: -30px;
    }

    .anecdotes{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;

        font-size: calc(1.4*var(--text));
    }

    .image_1{
        grid-column: 2;
        grid-row: 2;
        background-image: url("images/tablet/luke_hemmings_tablet.jpg");
    }
    .bottom_right_90{
        grid-column: 4;
        grid-row: 2;
    }
    
    #axis_bold_as_love .image_1{
        grid-column: 2/span 2;
        background-image: url("images/tablet/studio_tablet.jpg");
    }
}


@media (max-width:500px){
    body{
        background-image: url("images/phone/background_phone.jpg");
    }
header h1{
        font-size: calc(2*var(--heading));  
        margin-bottom: 6vh;  
        line-height: 12vh;
}

nav{
        gap:5px;
}

nav div{
        font-size: calc(1.5*var(--nav_text));
        padding: 3vh 1vw;
}    

 article{
    grid-template-columns: 1fr;
    grid-template-rows: 50% 25% 25% 25%;
 }  
 
 .cover{
    height: 55vh;
    border-radius: 15px 15px 0 0;
 }
 .cover:hover .show_not_hover{
    opacity: 100;
}
 .cover img{
    border-radius: 15px 15px 0 0;
    object-fit: contain;
}

 .song_list{
    grid-row: 2;
    grid-column: 1;
    flex-direction: row;
    font-size: calc(2*var(--text));
}

.song_list h2{
    font-size: calc(1.3*var(--sub_heading));
}

article .song_list div:nth-child(1){
    border-radius: 0 0 0 15px;
}


.album_data{
    grid-row: 3;
    font-size: calc(2*var(--text));
}   

.album_data h1{
    margin: 0;
    margin-top:-5vh;
    font-size: calc(1.3*var(--heading));
}

.album_data h2{
    margin-top: -5vh;
    font-size: calc(1.3*var(--sub_heading));
}

.anecdotes{
    grid-row: 4;
    font-size: calc(2*var(--text));
}

body > div{
    margin: 0;
    border-radius: 0;
}

}

