@font-face{
    font-family:"BungeeShade-Regular";
    src:url("BungeeShade-Regular.ttf");
}

@font-face{
    font-family: BungeeOutline-Regular;
    src:url("BungeeOutline-Regular.ttf")
}

:root{
    --padding_10:10px;
}

body{
    margin: 0;
    background-image: url("images/5SOS_backdrop_3.jpg");
    background-position:center;
    background-size: cover;
    background-attachment: fixed;

    color:rgb(203, 203, 203);
    font-family: Arial, Helvetica, sans-serif;
}


body > div{
    background-color: rgb(0, 0, 0,0.5);
    border-radius: 15px;
    margin: 70px 50px;
    padding:20px;
}

header h1{
    font-size: 4vw;
    font-family: BungeeShade-Regular;
    margin-top: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    gap:10px;

    color: black;
}

nav div{
    background-color: rgb(245, 245, 245,0.5);
    padding: 20px;
    border-radius: 10px;

    flex-grow: 1;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

nav div:hover{
    background-color: rgb(0, 0, 0,0.5);
    color: white;
}

.marked{
    border: 1px solid white;
    box-shadow: 1px 1px 8px whitesmoke;
    font-weight: bold;
}

article{
    margin-top:50px;
    padding:20px;

    background-color: rgb(0, 0, 0, 0.5);
    border: 2px solid rgb(255, 255, 255,0.5);
    border-radius: 10px;

    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 2fr 1fr 1fr;
    gap:10px;
}

.album_data h1{
    font-family:BungeeOutline-Regular;
    letter-spacing: 2px;
    margin: 0;
}

.album_data h2{
    margin-top: 0;
}

.cover img{
    max-width:100%;
    height:auto;
    border-radius: 15px 15px 0 0;
}

.show_hover{
    display: none;
}

.cover:hover .show_not_hover{
    display: none;
}

.cover:hover .show_hover{
    display: block;
}

article .song_list{
    grid-column: 2;
    grid-row: 2;

    display: flex;
    gap: 1vw;
    justify-content: space-between;

}
#are_you_experienced .song_list div{
    background-color:#FC415C;
    color:#F2CD24;
    padding: var(--padding_10);
    flex-grow: 1;
}

#axis_bold_as_love .song_list div{
    background-color:#03E55F;
    color:#046BD0;
    padding: var(--padding_10);
    flex-grow: 1;
}

article .song_list div:nth-child(1){
    border-radius: 0 0 0 15px;
}
article .song_list div:nth-child(2){
    border-radius: 0 0 15px 0;
}

.anecdotes{
    grid-column: 1/span 2;
    grid-row: 3;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap:1vw;

    list-style: none;
}

.empty {
    display: none;
}
.anecdotes li{
    padding: var(--padding_10);
    box-sizing: border-box;
}

#are_you_experienced .anecdotes > li{
    background-color: #F2CD24;
    color: #CA61BD;
}

#axis_bold_as_love .anecdotes > li{
    background-color: #046BD0;
    color: #03E55F;;
}

.image_1{
    background-image: url("images/luke_hemmings.jpg");
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    grid-column: 5;
}

.top_left_90{
    border-radius: 0 10px 10px 10px;
}

#axis_bold_as_love .image_1{
    background-image: url("images/studio.jpg");
}

.top_right_90{
    border-radius: 15px 0 15px 15px;
}
.two_wide {
    grid-column: span 2;
    border-radius: 15px 15px 15px 0;
}

#are_you_experienced .two_wide{
    grid-column: 3/span 2;
}

.bottom_right_90{
    grid-column: 6;
    border-radius: 15px 15px 0 15px;
}





